*{
  margin: 0;
  padding: 0;
}
.font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

#nav-section{
  max-width: 85%;
  width: 1360;
  display: flex;
  justify-content: space-around;
  padding: 16px;
  margin: 0 auto;
}
.nav-img{
  width: 139px;
}
.nav-menu{
  padding: 16PX;
 
}

.nav-menu ul{
  display: flex;
  justify-content: space-between;
  gap: 32px;
  list-style: none;
}
.nav-menu ul li{
  font-size: 16px;
  font-weight: 500;
}
.nav-btn{
  padding: 9px;
}
.btn{
  padding: 12.5px;
  background-color:#469165 ;
  color: white;
  font-size:16px ;
  font-weight: 600;
  border: none;
  border-radius: 4px;
}
