*{
  margin: 0;
  padding: 0;
}
.font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}


/* Header Section  */
#heading{
  padding:16px 0;
}
#nav-section{
  max-width: 85%;
  width: 1360px;
  display: flex;
  justify-content: space-between;
  /* padding: 16px; */
  margin: 0 auto;
  align-items: center;
}
.nav-img{
  width: 139px;
  height: 60px;
}


.nav-menu ul{
  display: flex;
  justify-content: space-between;
  gap: 32px;
  list-style: none;
  margin: 0 auto;
}
.nav-menu ul li{
  font-size: 16px;
  font-weight: 500;
}
.nav-menu ul li a{
  text-decoration: none;
  color: black;
}
.nav-menu ul li a:hover{
  color: #30B868;
}

.btn{
  padding: 12.5px;
  background-color:#469165 ;
  color: white;
  font-size:16px ;
  font-weight: 600;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.btn:hover{
  transform: translateY(+5px) scale(1.03);
}


/* bannaer section */

#banner{
  background-image: url(assets/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 115px 120px 180px;
  margin: 0;
}
.banner-container{
max-width: 85%;
  width: 1360px;
  margin: 0 auto;
 text-align: center;
}
.banner-btn{
  padding:0 ;
  font-size:16px ;
  font-weight:500px; 
  color:#469165 ;
  border-radius:1000px ;
  border: none;
  width: 229px;
  height: 35px;
  text-align: center;
  cursor: pointer; border-radius: 12px;cursor: pointer;
  transition: transform 0.3s ease;
}
.banner-btn:hover{
  transform:translateY(+5px) scale(1.07);
}

.banner-heading {
  width: 770px;
  margin: 0 auto;
  text-align: center;
}
.banner-heading h1{
  font-size: 72px;
  font-weight: 700;
  color: white;
  margin-top: 16px;
}
.banner-heading .heading-color{
  color: #30B868;
}
.banner-heading p{
  font-size: 18px;
  font-weight: 400;
  color: white;
  line-height: 24px;
  margin-top: 16px;
}
.third-btn{
  margin-top: 32px;
  display: flex;
  justify-content: center;
  gap: 16px;
  align-items: center;

}
.third{
  width: 251px;
  padding: 16.5px;
}
.fourth{
  width: 198px;
  padding: 16.5px;
  background: transparent;
  border: 1px solid white;
}


/* Notes section */

#notes{
  background-color: #62738210;
  margin: 0;
  
}
.notes-section{
  max-width: 85%;
  width: 1360px;
  margin: 0 auto;
 text-align: center;
}
.notes-heading{
  padding: 44px;
}

.notes-heading h1{
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 16px;
}
.notes-heading p{
  font-size: 16px;
  font-weight: 400;
  color: #627382;
  line-height: 20px;
}
.notes-card{
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.cards{
  padding: 24px;
  background-color: #FFFFFF;
  box-shadow: 0 0 8px 0 #00000006;
  border: none;
  border-radius: 8px;
  max-width: 322px;
 cursor: pointer;
  transition: transform 0.3s ease;
}
.cards:hover{
  transform: translateY(+5px) scale(1.07);
}

.image{
  width: 60px;
  height: 60px;
  background-color: #F95555;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 45px auto 16px;
}
.cards h3{
font-size: 24px;
font-weight: 600;
margin-bottom: 16px;
}
.cards p{
font-size: 16px;
font-weight: 400;
color: #627382;
margin-bottom: 21.5px;
}

/* Brain section */
#brain{
  margin-top: 120px;
}
.brain-section{
  max-width: 85%;
  width: 1360px;
  margin: 0 auto;
 align-items: center;
 display: flex;
 gap: 60px;
}
.brain-img img{
  width: 600px;
  height: 600px;
  border-radius: 12px;cursor: pointer;
  transition: transform 0.3s ease;
}
.brain-img img:hover{
  transform:translateY(+5px) scale(1.07);
}


.brain-heading{
 text-align: left;
 margin: 0 ;
}
.chekcircle{
  display: flex;
  gap: 6px;
}
.brain-heading h5{
  font-size: 16px;
  font-weight: 400;
  color: #469165;
  margin-top: 16px; 
}
.brain-heading h1{
  font-size: 48px;
  font-weight: 700;
  color: black;
  margin-bottom: 16px;
}

.brain-heading .brain-info{
  font-size: 16px;
  font-weight: 400;
  color: #627382;
  margin-bottom: 40px;
  line-height: 20px;
}
.brain-heading ul li{
  margin-bottom: 16px;
  list-style: none;
}


/* Early Access section */
#access{
 margin-top: 120px;
}

.access-section{
  max-width: 85%;
  width: 1360px;
  margin: 0 auto;
 text-align: center;
 background-color: #62738210;
 border-radius: 12px;
 padding: 80px 0;
 transition: transform 0.3s ease;
}
.access-section:hover{
  transform: translateY(+5px) scale(1.07);
}
.access-info h1{
  font-size: 40px;
  font-weight: 700;
 margin-bottom: 16px;
 
}
.access-para{
  font-size: 16px;
  font-weight: 400;
  margin: 0 auto 24px;
  color: #627382;
}
.access-paragraph{
  font-size: 16px;
  font-weight: 400;
  margin-top: 16px;
  color: #627382;
}


/* Banner section */
#footer{
  background-color: #001931;
  margin-top: 120px;
   padding:120px 0 80px ;
}
.footer-section{
  max-width: 85%;
  width: 1360px;
  margin: 0 auto;
  text-align: center;
}
.footer-contain{
  display: flex;
  justify-content: space-between;
 margin-bottom: 84px;
}
.footer-contain img{
  width: 139px;
  height: 60px;
  
}

.footer-info p{
  font-size: 20px;
  font-weight:500 ;
  color: white;
  margin-bottom: 16px;
}
.Social-links ul{
  display: flex;
  gap: 16px;

}
.Social-links ul li{
  list-style: none;
}

 .fa-brands{
  background-color: white;
  border-radius: 30%;
  cursor: pointer;
 }
 .line{
  border: none;
  height: 1px;
  background-color: #62738295;
  margin-bottom: 30px;
 }
 .footer-section .knowledge-vault{
  color: #E5E7EB95;
  font-size: 16px;
  font-weight: 400;
 }